using UnityEditor;
using UnityEngine;

namespace {ROOT_NAMESPACE}.Editor {
	public static class {NAME}Editor {
		[MenuItem("Help/About {NAME}", false)]
		public static void About() {
			Debug.Log($"{{NAME}Constants.DisplayName} v" + {NAME}Constants.Version);
		}
	}
}

