{
    "name": "{ROOT_NAMESPACE}.Editor",
    "rootNamespace": "{ROOT_NAMESPACE}",
    "references": [
        "{ROOT_NAMESPACE}.Runtime"
    ],
    "includePlatforms": [
        "Editor"
    ],
    "excludePlatforms": [],
    "allowUnsafeCode": false,
    "overrideReferences": false,
    "precompiledReferences": [],
    "autoReferenced": true,
    "defineConstraints": [],
    "versionDefines": [],
    "noEngineReferences": false
}

